@{
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
</head>
<body>
    <a asp-area="" asp-controller="Home" asp-action="Form" class="btn btn-primary">Go back to Form</a>
    <center>
        <iframe src="https://www.google.com/maps/d/embed?mid=1kOUoD7-_p5PPRKaawnN2Os-mn_husDU&ehbc=2E312F" width="500" height="480"></iframe>
    </center>
</body>
</html>
